site_name: Dokümantasyon

# theme:
#   name: readthedocs
#   features:
#     - navigation.tabs
#     - navigation.expand       
#     - navigation.instant
#     - navigation.sections     
#     - toc.integrate
#     - content.tabs.linked     
#     - header.autohide         
#     - announce.dismiss   
#   font:
#     text: Roboto               # Okunabilir font
#     code: Fira Code   

#   icon:
#     repo: fontawesome/brands/github
#     logo: material/robot-industrial  # Robotik temasına uygun 


theme:
  name: material
  language: tr                     # Türkçe dil desteği
  features:
    - navigation.tabs
    - navigation.expand       
    - navigation.instant
    - navigation.sections     
    - toc.integrate
    - content.tabs.linked     
    - header.autohide         
    - announce.dismiss   
  palette:
    - scheme: default
      primary: indigo
      accent: amber
      toggle:
        icon: material/brightness-7
        name: Koyu moda geç
    - scheme: slate
      primary: teal
      accent: lime
      toggle:
        icon: material/brightness-4
        name: Açık moda geç
  font:
    text: Roboto
    code: Fira Code   
  icon:
    repo: fontawesome/brands/github
    logo: material/robot-industrial
  
nav:
  - Core Tools:
      - Compiler: core_tools/compiler.md
      - CMake: core_tools/cmake.md
      - Make: core_tools/make.md
      - Menuconfig: core_tools/menuconfig.md
      - Git & GitHub: core_tools/git.md
      - Docker & Containers: core_tools/docker.md

  - Programming:
      - C: programming/c.md
      - C++: programming/cpp.md
      - Python: programming/python.md
      - QML: programming/qml.md
      - XML: programming/xml.md
      - Design Pattern: programming/design_pattern.md

  - Embedded & Hardware:
      - STM Programming: embedded/stm.md
      - AVR Programming: embedded/avr.md
      - IPC: embedded/ipc.md
      - GStreamer: embedded/gstreamer.md
      - PX4 & MAVLink: embedded/px4_mavlink.md

  - Systems & OS:
      - NVIDIA Jetson: systems/jetson.md
      - Raspberry Pi: systems/raspberry.md
      - Linux: systems/linux.md

  - Robotics & AI:
      - ROS2: robotics_ai/ros2.md
      - Gazebo: robotics_ai/gazebo.md
      - AI & Machine Learning: robotics_ai/ai.md
      - OpenCV & Image Processing: robotics_ai/opencv.md

markdown_extensions:
  - attr_list
  - pymdownx.emoji:
      emoji_index: !!python/name:material.extensions.emoji.twemoji
      emoji_generator: !!python/name:material.extensions.emoji.to_svg
  - pymdownx.highlight:
      anchor_linenums: true
      line_spans: __span
      pygments_lang_class: true
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - pymdownx.superfences:
      custom_fences:
        - name: mermaid
          class: mermaid
          format: !!python/name:pymdownx.superfences.fence_code_format
  - pymdownx.tabbed:
      alternate_style: true
  - admonition
  - pymdownx.details
    